:root {
  --black-color:#000000;
  --white-color:#ffffff;
  --primary-color:#DB4D7F;
  --heading-color:#41495a;
  --background-color:#f6f4f1; }

.navbar {
  background-color: var(--black-color);
  padding: 26px;
  position: fixed;
  width: 100%;
  z-index: 999; }
  .navbar ul {
    margin-top: 10px; }
  .navbar li {
    list-style: none; }
    .navbar li a {
      color: var(--white-color);
      padding: 12px;
      font-size: 15px; }
      .navbar li a:last-child {
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 700;
        background: var(--primary-color); }

.banner {
  background: url("http://solutions.tothenew.com/reactjs/images/Top_Banner_Image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 580px; }
  .banner .wrapper {
    padding: 33px;
    position: relative;
    padding-top: 120px;
    display: flex; }
  .banner p {
    color: white;
    font-size: 40px;
    width: 50%;
    margin-right: 50px;
    margin-top: 20px; }
  .banner form {
    text-align: center;
    width: 40%; }
    .banner form label {
      color: var(--white-color);
      font-size: 25px; }
    .banner form input, .banner form textarea {
      background: transparent;
      width: 100%;
      border: 1px solid --white-color;
      margin-top: 15px; }
      .banner form input::placeholder, .banner form textarea::placeholder {
        font-size: 15px;
        color: var(--white-color); }
    .banner form button {
      background: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px 40px;
      align-items: center;
      margin-top: 20px; }
  .banner .banner-bottom {
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding: 18px;
    left: 0;
    right: 0;
    bottom: -10%;
    background: white;
    width: 80%;
    margin: auto;
    box-shadow: 0 8px 6px -6px black; }

.experience {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  padding: 18px; }
  .experience .product-1 {
    width: 20%;
    margin-top: 100px; }
    .experience .product-1 span {
      color: #6b707e;
      font-size: 19px;
      font-weight: 800; }
    .experience .product-1 p {
      color: #6f7482;
      width: 70%;
      text-align: center; }

.success-stories .wrapper {
  padding-top: 48px;
  background: var(--background-color);
  text-align: center;
  position: relative; }
  .success-stories .wrapper h2 {
    color: var(--heading-color); }
    .success-stories .wrapper h2::after {
      content: '';
      display: inline-block;
      width: 5%;
      position: absolute;
      top: 100%;
      left: 48%;
      border-bottom: 5px solid var(--primary-color);
      border-radius: 25%; }

.clients .wrapper {
  padding-top: 18px;
  text-align: center;
  position: relative; }
  .clients .wrapper h2 {
    color: var(--heading-color);
    left: 0; }
    .clients .wrapper h2::after {
      content: '';
      display: inline-block;
      width: 5%;
      position: absolute;
      top: 30%;
      left: 48%;
      border-bottom: 5px solid var(--primary-color);
      border-radius: 25%; }

.expertise {
  background: url("http://solutions.tothenew.com/reactjs/images/dc517ded-b5d527ce-expertise-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 498px;
  text-align: center; }
  .expertise .wrapper {
    padding: 43px; }
  .expertise h2 {
    color: var(--heading-color);
    width: 40%;
    margin: auto;
    font-size: 37px;
    color: var(--white-color); }
    .expertise h2::after {
      content: '';
      display: inline-block;
      width: 5%;
      position: absolute;
      top: 28%;
      left: 48%;
      border-bottom: 5px solid var(--primary-color);
      border-radius: 25%; }
  .expertise p {
    color: white;
    margin-top: 30px;
    font-size: 18px; }
  .expertise .focus {
    color: var(--white-color);
    display: flex;
    padding: 28px; }
    .expertise .focus ul {
      list-style: none;
      font-size: 20px;
      text-align: start;
      padding-right: 18px;
      padding-top: 18px; }
      .expertise .focus ul li {
        padding: 5px; }
        .expertise .focus ul li:before {
          content: "\2022";
          color: var(--primary-color);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em; }

.practice {
  background: var(--background-color);
  position: relative;
  padding: 48px;
  height: 576px; }
  .practice .wrapper {
    padding: 18px;
    display: flex;
    justify-content: space-around; }
    .practice .wrapper h2 {
      color: var(--heading-color);
      font-size: 45px; }
      .practice .wrapper h2::after {
        content: '';
        display: inline-block;
        width: 5%;
        position: absolute;
        top: 22%;
        left: 48%;
        border-bottom: 5px solid var(--primary-color);
        border-radius: 25%; }
      .practice .wrapper h2::after {
        left: 10%; }
    .practice .wrapper .agile h2::after {
      left: 61%; }
    .practice .wrapper ul {
      list-style: none; }
      .practice .wrapper ul li {
        font-size: 20px;
        padding-top: 20px;
        color: #444c5d; }
        .practice .wrapper ul li:first-child {
          margin-top: 30px; }

.consulting {
  text-align: center;
  height: 240px;
  display: table;
  width: 100%;
  background: url("http://solutions.tothenew.com/reactjs/images/1b14e866-talk-bg.jpg"); }
  .consulting .wrapper {
    display: table-cell;
    vertical-align: middle; }
    .consulting .wrapper h5 {
      font-size: 40px;
      color: var(--white-color); }
    .consulting .wrapper button {
      border: 1px solid var(--white-color);
      background: none;
      color: white;
      padding: 10px;
      margin-top: 20px;
      font-weight: 700;
      font-size: 25px; }

.testimonials {
  width: 100%;
  height: 754px;
  text-align: center;
  position: relative; }
  .testimonials .wrapper {
    padding-top: 48px;
    padding-bottom: 48px; }
  .testimonials h2 {
    color: var(--heading-color); }
    .testimonials h2::after {
      content: '';
      display: inline-block;
      width: 5%;
      position: absolute;
      top: 12%;
      left: 48%;
      border-bottom: 5px solid var(--primary-color);
      border-radius: 25%; }
  .testimonials iframe {
    width: 80%;
    margin-top: 40px;
    border: none;
    height: 400px; }

.employee {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 48px; }
  .employee .emp-heading {
    padding: 10px 10px 0; }
  .employee .dan {
    display: flex;
    width: 30%;
    justify-content: center;
    flex-wrap: wrap; }
    .employee .dan img {
      border-radius: 50%; }
    .employee .dan h5 {
      color: var(--primary-color);
      font-size: 15px; }
    .employee .dan p {
      color: var(--heading-color); }

.react-intro {
  background: var(--background-color);
  text-align: center;
  height: 170px; }
  .react-intro .wrapper {
    width: 80%;
    margin: auto; }
  .react-intro h5 {
    font-size: 35px;
    color: var(--heading-color);
    padding-top: 30px;
    margin-bottom: 10px; }
  .react-intro p {
    color: #a2a7a9;
    font-size: 15px; }

.contact {
  background: url("http://solutions.tothenew.com/reactjs/images/5ea19cfc-form-bg.jpg");
  height: 580px;
  position: relative;
  text-align: center; }
  .contact form {
    margin-top: 50px; }
  .contact input, .contact textarea {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border-radius: 0px; }
  .contact h2 {
    color: var(--heading-color);
    padding-top: 50px;
    color: white;
    font-size: 40px; }
    .contact h2::after {
      content: '';
      display: inline-block;
      width: 5%;
      position: absolute;
      top: 18%;
      left: 48%;
      border-bottom: 5px solid var(--primary-color);
      border-radius: 25%; }
  .contact button {
    display: block;
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    background: var(--primary-color);
    border: none;
    color: var(--white-color);
    font-weight: 700;
    font-size: 25px; }

.footer {
  height: 75px;
  background: #58595b;
  display: flex;
  justify-content: space-between; }
  .footer p {
    color: var(--white-color);
    font-size: 12px;
    margin: 16px 0px 0px; }
  .footer .footer-logo {
    display: flex;
    width: 20%; }
  .footer img {
    height: 70px; }

/*# sourceMappingURL=style.css.map */
